html{background-color: black;}
html{text-align: center;}
h1{text-align: center;}
footer{text-align: center;}
ul{text-align: center;}
li{text-align: center;}
h1{color: white;}
h2{color: white;}
h3{color: white;}
h4{color: white;}
ul{color: white;}
ol{color: white;}
p{color: white;}
h2{color: gold;}
#pepa{
border-width: 10px;
border: solid white;


}